
torch>=2.2
numpy>=1.26
pandas>=2.1
pyarrow>=15.0
scipy>=1.11
PyYAML>=6.0
tqdm>=4.66
matplotlib>=3.8

shapely>=2.0
scikit-learn>=1.4

networkx>=3.2
einops>=0.7

pulp>=2.8
geopandas>=0.14

tensorboard>=2.15
pytest>=8.0
